---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Accommodations from "../components/Accommodations.astro";
import GalleryBento from "../components/GalleryBento.astro";
import Policies from "../components/Policies.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Centro de Descanso Los Poetas | Hotel Boutique El Quisco">
  <main>
    <Hero />
    <Experience />
    <Accommodations />
    <GalleryBento />
    <Policies />
  </main>
  <Footer />
</Layout>
